/* body {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
} */

.App{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  text-decoration: none;
}


.linkBtn{
  padding: 5px 10px;
  background: #540B0E;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.linkBtn:hover{
  background: rgba(84, 11, 13, 0.568);
}

.topNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #9E2A2B;
  height: 100px;
}

h1{
  font-family: 'Big Shoulders Text', cursive;
  font-size: 35px;
  padding: 10px;
  font-style: italic;
  color: #fff;
  text-align: center;
  margin-left: 100px;
}
form{
  margin-top: 25px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input, textarea{
  padding: 5px;
  border: none;
  border-bottom: 1px solid #9E2A2B;
  font-size: 24px;
}

.adminBtn{
  margin-right: 100px;
}

.homeContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.eachLink{
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.eachLink:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
  transform: translate(0,-10px);

}
.typeImgLink{
  width: 700px;
  height: 250px;
}

.typeImgTitle{
  width: 80%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0, 3));
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 40px;
}

.brandLink{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandLink:hover, .itemLink:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.69);

}

.brandContainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.itemImgLink{
  width: 300px;
  height: 300px;
}

.itemLink{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  color: rgb(87, 87, 87);
}